.container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.outer-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px black solid;
    width: 50vw;
    height: 20vw;
    background-color: grey;
}

.upper-box {
    border: 5px black solid;
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}

.lower-box {
    margin: 2%;
    border: 5px black solid;
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}