@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');



:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --verydarkblue: hsl(212, 21%, 14%);
    --darkgrayishblue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

/*

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--cream);
}

.card {
    background-color: white;
    display: flex;
    border-radius: 12px;
    height: 75vh;
    overflow: hidden;
    max-width: 768px;
}

.image {
    width: 50%;
    overflow: hidden;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_image {
    display: block;
    height: 100%;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
    width: 50%;
}

.heading {
    font-family: "Fraunces", serif;
    font-size: 45px;
    font-weight: bold;
    margin: 24px 0px
}

.perfume {
    font-family: monospace;
    letter-spacing: 3px;
    font-size: 14px;
    color: var(--darkgrayishblue);
}

.product_description {
    font-size: 16px;
    color: var(--darkgrayishblue);
    font-family: "Montserrat";
    line-height: 1.5rem;
}

ul {
    list-style: none;
    display: flex;
    margin: 40px 0px;
    align-items: center;
}

.price {
    padding-left: 20px;
    color: var(--dark-cyan);
    font-size: 35px;
    font-family: "Fraunces", serif;
}

.cut-price {
    margin: auto 16px;
    font-family: "Montserrat";
    font-size: 14px;
    color: gray;
}

.addtocart {
    width: 100%;
    border: 0;
    outline: 0;
    background-color: var(--dark-cyan);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-family: "Montserrat";
    padding: 1rem 2rem;
    border-radius: 8px;
    cursor: pointer;
}
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--cream);
}

.card {
    background-color: white;
    display: flex;
    border-radius: 12px;
    height: 75vh;
    overflow: hidden;
    max-width: 768px;
}

.image {
    width: 50%;
    overflow: hidden;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_image {
    display: block;
    height: 100%;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
    width: 50%;
    font-family: "Montserrat",serif;
}

	
.heading {
    font-size: 30px;
    font-weight: 100;
    padding: 25px 0px;
}

.perfume {
    font-family: monospace;
    letter-spacing: 3px;
    font-size: 14px;
    color: var(--darkgrayishblue);
}

.product_description {
    font-size: 16px;
    color: var(--darkgrayishblue);
    font-family: "Montserrat";
    line-height: 1.5rem;
}

ul {
    list-style: none;
    display: flex;
    margin: 40px 0px;
    align-items: center;
    padding-bottom: 25px;
}

.price {
    padding-left: 20px;
    color: var(--dark-cyan);
    font-size: 35px;
    font-family: "Fraunces", serif;
}

.cut-price {
    margin: auto 16px;
    font-family: "Montserrat";
    font-size: 14px;
    color: gray;
}

.addtocart {
    width: 100%;
    border: 0;
    outline: 0;
    background-color: var(--dark-cyan);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-family: "Montserrat";
    padding: 1rem 2rem;
    border-radius: 8px;
    cursor: pointer;
}
